<!-- COMPONENTE DE LA BARRA DE BUSQUEDA -->
<div class="barraBusqueda">
  <app-barra-busqueda (eventoChange)="onChange($event)"></app-barra-busqueda>
</div>

<div class="contenedor">
  <div class="cartaPokemon" *ngFor="let pokemon of arrayPokemonsFiltrado">
    <!-- IMAGEN -->
    <div class="fondoImagen">
      <!-- POSICION POKEDEX -->
      <p class="numeroPokedexFondo">#{{ pokemon.posicion }}</p>
      <img [src]="pokemon.imagen" />
    </div>
    <div class="infoPokemon">
      <!-- NOMBRE -->
      <div class="tituloNombre">{{ pokemon.nombre }}</div>
      <!-- TIPOS -->
      <div class="divTipos">
        <span
          *ngFor="let tipo of pokemon.tipo"
          [class]="tipo.type.name"
          class="tipoPokemon"
        >
          {{ tipo.type.name }}
        </span>
      </div>
      <!-- STATS -->
      <div class="stats">
        <table class="tablaStats">
          <tr *ngFor="let stat of pokemon.stats; let even = even">
            <td>{{ stat.stat.name }}</td>
            <td class="baseStats">{{ stat.base_stat }}</td>
          </tr>
        </table>
      </div>
      <!-- ALTURA Y PESO -->
      <div class="alturaYPeso">
        <span class="spanAltura">Altura: {{ pokemon.altura }} m</span>
        <span class="spanPeso">Peso: {{ pokemon.peso }} kg</span>
      </div>
    </div>
  </div>
</div>
